/*===============
    header
================*/
ul {
    padding-left: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;    
}

nav li {
    list-style-type: none;
}

/*===============
    main
================*/
#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lista-productos {
    width: 100%;
}

.li-producto {
    display: flex;
    justify-content: space-between;
}

.card-producto {
    width: 250px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin: 2px;
    text-align: center;
}

.producto-img {
    width: 80px;
}