/*===============
    header
================*/
ul {
    padding-left: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;    
}

li {
    list-style-type: none;
}

/*===============
    main
================*/
#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lista-productos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.li-producto {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.li-botonera {
    width: 25%;
    display: flex;
    align-items: center;
}

.card-producto {
    width: 250px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin: 2px;
    text-align: center;
}

.producto-img {
    width: 80px;
}

.mensaje-error strong {
    color: #ae4f4e;
}

.mensaje-error {
    color: #a94442;
    background-color: #f2dede;
    border: 2px solid #ebccd1;
    padding: 5px 30px;
    border-radius: 4px;
}


#alta-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 25px;
}

.form-container {
    border: 2px solid;
    border-radius: 3px;
    padding: 25px;
    flex-direction: column;
    justify-content: space-between;
}

.form-container h3 {
    margin-top: 0;
}

.form-alta {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*===============
    login
===============*/
.error-message {
    padding: 10px;
    border: 2px solid #eb99a1;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #eb99a1;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: space-evenly;
}

.login-botonera {
    display: flex;
}